ul li{
	padding:0px;
	margin:0px;
	list-style:none;
	
}
body{
	background:url("../images/bg.jpg");
	color:#e5e2eb;
	font-family:Garamond;
	font-size:18px;
	font-weight:bold;
}
#wrap{
	width:80%;

	opacity:0.9;

	margin:0 auto;
}
#title{
	width:100%;
	height:80px;
	background:url("../images/logo.png") no-repeat;
}
ul li{
	float:left;
	border-radius:10px 10px 0 0;
	margin-left:5px;
	background:#1d0131;
	padding:8px 12px;
	cursor:pointer;
	
}
.lichoosed{
	background:#e5e2eb;
	 
}
.lichoosed a{
	color:#1d203d;
}
ul li a{
	text-decoration:none;
	color:#e5e2eb;

}
iframe{
	width:100%;
	height:800px;
	background:#e5e2eb;
	border-radius:16px;
}